<table style="width:100%" border="6">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Event name</th>
          <th>Event description</th>
        </tr>
        {% for event in events %}
        <tr>
          <td>{{event.name}}</td>
          <td>{{event.eventname}}</td>
          <td>{{event.description}}</td>
          <td>{{event.location}}</td>
          <td>{{event.start_time}}</td>
          <td>{{event.end_time}}</td>
        </tr>
        {% endfor %}
        
      </table>

<a href="{{ url_for('home') }}"> back to home</a>