<h1>Hello and welcome to event planner</h1>
<h2>Please sign into your account via the login button</h2>
<h3>Don't have an account? Sign up via the register button!</h3>

<a href="{{ url_for('login') }}" class="btn btn-info"
               style="margin: 28px 28px 16px 0px; background-color: #D8BFD8; border-color: #D8BFD8; color: black; font-weight: bold">
                Login here
            </a>

<a href="{{ url_for('register') }}" class="btn btn-info"
               style="margin: 28px 28px 16px 0px; background-color: #D8BFD8; border-color: #D8BFD8; color: black; font-weight: bold">
                Register here
            </a>